<!--
- Validation
- Actually add to DB
- Populate Room/Location from DB
- List of existing data in grid
-->

<h2>Provision New Sensor Module</h2>

<p>Add the details of a new sensor module to provision below, then hit the Go button.</p>

<mat-grid-list cols="4" rowHeight="70px">
  <mat-grid-tile colspan="4">
    <h3>Core Information</h3>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Serial Number</mat-label>
      <input matInput type="text" [formControl]="serialNumber" [errorStateMatcher]="matcher" required />
      <button mat-button *ngIf="serialNumber.value" matSuffix mat-icon-button aria-label="Clear" (click)="serialNumber.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="serialNumber.hasError('required')">
        Serial number is required
      </mat-error>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput type="text" [formControl]="name" [errorStateMatcher]="matcher" required />
      <button mat-button *ngIf="name.value" matSuffix mat-icon-button aria-label="Clear" (click)="name.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="name.hasError('required')">
        Name is required
      </mat-error>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Location</mat-label>
      <input type="text"
             placeholder="Location"
             aria-label="Location"
             matInput
             [errorStateMatcher]="matcher"
             [formControl]="location"
             [matAutocomplete]="autoLocations" />
      <mat-autocomplete #autoLocations="matAutocomplete">
        <mat-option *ngFor="let l of locations" [value]="l">
          {{l}}
        </mat-option>
      </mat-autocomplete>
      <button mat-button *ngIf="location.value" matSuffix mat-icon-button aria-label="Clear" (click)="location.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="location.hasError('required')">
        Location is required
      </mat-error>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Room</mat-label>
      <input type="text"
             placeholder="Room"
             aria-label="Room"
             matInput
             [errorStateMatcher]="matcher"
             [formControl]="room"
             [matAutocomplete]="autoRooms">
      <mat-autocomplete #autoRooms="matAutocomplete">
        <mat-option *ngFor="let r of rooms" [value]="r">
          {{r}}
        </mat-option>
      </mat-autocomplete>
      <button mat-button *ngIf="room.value" matSuffix mat-icon-button aria-label="Clear" (click)="room.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="room.hasError('required')">
        Room is required
      </mat-error>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile colspan="4">
    <h3>Sensors</h3>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Number Temperature Sensors</mat-label>
      <mat-select [errorStateMatcher]="matcher" [formControl]="numberTemperatureSensors" required>
        <mat-option value="1">One</mat-option>
        <mat-option value="2">Two</mat-option>
        <mat-option value="3">Three</mat-option>
      </mat-select>
      <mat-error *ngIf="numberTemperatureSensors.hasError('required')">
        Number of temperature sensors is required
      </mat-error>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Number Humidity Sensors</mat-label>
      <mat-select [errorStateMatcher]="matcher" [formControl]="numberHumiditySensors" required>
        <mat-option value="1">One</mat-option>
        <mat-option value="2">Two</mat-option>
        <mat-option value="3">Three</mat-option>
      </mat-select>
      <mat-error *ngIf="numberHumiditySensors.hasError('required')">
        Number of humidity sensors is required
      </mat-error>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Number Carbon Dioxide Sensors</mat-label>
      <mat-select [errorStateMatcher]="matcher" [formControl]="numberCarbonDioxideSensors" required>
        <mat-option value="1">One</mat-option>
        <mat-option value="2">Two</mat-option>
        <mat-option value="3">Three</mat-option>
      </mat-select>
      <mat-error *ngIf="numberCarbonDioxideSensors.hasError('required')">
        Number of carbon dioxide sensors is required
      </mat-error>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile colspan="4">
    <h3>Networking</h3>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Network Type</mat-label>
      <mat-select [errorStateMatcher]="matcher" [formControl]="networkType" required>
        <mat-option value="Wireless">Wireless</mat-option>
        <mat-option value="Wired">Wired</mat-option>
      </mat-select>
      <mat-error *ngIf="networkType.hasError('required')">
        Network Type is required
      </mat-error>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile *ngIf="networkType.value == 'Wireless'">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>SSID</mat-label>
      <input matInput type="text" [formControl]="wirelessSsid" [errorStateMatcher]="matcher" >
      <button mat-button *ngIf="wirelessSsid.value" matSuffix mat-icon-button aria-label="Clear" (click)="wirelessSsid.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="wirelessSsid.hasError('required')">
        SSID is required
      </mat-error>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile *ngIf="networkType.value == 'Wireless'">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Key</mat-label>
      <input matInput type="text" [formControl]="wirelessKey" [errorStateMatcher]="matcher" />
      <button mat-button *ngIf="wirelessKey.value" matSuffix mat-icon-button aria-label="Clear" (click)="wirelessKey.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="wirelessKey.hasError('required')">
        Key is required
      </mat-error>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>IP Configuration</mat-label>
      <mat-select [errorStateMatcher]="matcher" [formControl]="ipType" required>
        <mat-option value="DHCP">DHCP</mat-option>
        <mat-option value="Static">Static</mat-option>
      </mat-select>
      <mat-error *ngIf="ipType.hasError('required')">
        IP configuration is required
      </mat-error>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile *ngIf="ipType.value == 'Static'">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>IP Address</mat-label>
      <input matInput type="text" [formControl]="ipAddress" [errorStateMatcher]="matcher" />
      <button mat-button *ngIf="ipAddress.value" matSuffix mat-icon-button aria-label="Clear" (click)="ipAddress.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="ipAddress.hasError('required')">
        IP Address is required
      </mat-error>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile *ngIf="ipType.value == 'Static'">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Broadcast</mat-label>
      <input matInput type="text" [formControl]="ipBroadcast" [errorStateMatcher]="matcher" />
      <button mat-button *ngIf="ipBroadcast.value" matSuffix mat-icon-button aria-label="Clear" (click)="ipBroadcast.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="ipBroadcast.hasError('required')">
        Broadcast is required
      </mat-error>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile *ngIf="ipType.value == 'Static'">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Gateway</mat-label>
      <input matInput type="text" [formControl]="ipGateway" [errorStateMatcher]="matcher" />
      <button mat-button *ngIf="ipGateway.value" matSuffix mat-icon-button aria-label="Clear" (click)="ipGateway.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="ipGateway.hasError('required')">
        Gateway is required
      </mat-error>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile *ngIf="ipType.value == 'Static'">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>DNS</mat-label>
      <input matInput type="text" [formControl]="ipDns" [errorStateMatcher]="matcher" />
      <button mat-button *ngIf="ipDns.value" matSuffix mat-icon-button aria-label="Clear" (click)="ipDns.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="ipDns.hasError('required')">
        DNS is required
      </mat-error>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Ingestion Server</mat-label>
      <input matInput type="text" [formControl]="serverAddress" [errorStateMatcher]="matcher" />
      <button mat-button *ngIf="serverAddress.value" matSuffix mat-icon-button aria-label="Clear" (click)="serverAddress.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile colspan="4">
    <button type="button" mat-raised-button color="primary" (click)="this.provisionSensor();" style="width: 95%" [disabled]="!formGroup.valid">
      Go
    </button>
  </mat-grid-tile>
</mat-grid-list>

<mat-divider></mat-divider>

<h2 style="margin-top: 20px;">Awaiting Provisioning</h2>

<p *ngIf="!awaitingProvisioningConfigs || awaitingProvisioningConfigs.length == 0">
  There are no sensors waiting to be provisioned.
</p>

<table mat-table [dataSource]="awaitingProvisioningConfigs" *ngIf="awaitingProvisioningConfigs && awaitingProvisioningConfigs.length > 0">

  <!--"SerialNumber", "Name", "Location", "Room", "NetworkType", "IpConfig", "ServerAddress"-->

  <ng-container matColumnDef="SerialNumber">
    <th mat-header-cell *matHeaderCellDef>Serial #</th>
    <td mat-cell *matCellDef="let element">{{element.serialNumber}}</td>
  </ng-container>

  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>

  <ng-container matColumnDef="Location">
    <th mat-header-cell *matHeaderCellDef>Location</th>
    <td mat-cell *matCellDef="let element">{{element.location}}</td>
  </ng-container>

  <ng-container matColumnDef="Room">
    <th mat-header-cell *matHeaderCellDef>Room</th>
    <td mat-cell *matCellDef="let element">{{element.room}}</td>
  </ng-container>

  <ng-container matColumnDef="NumberTemperature">
    <th mat-header-cell *matHeaderCellDef># Temp</th>
    <td mat-cell *matCellDef="let element">{{element.sensorConfig.temperatureSensors}}</td>
  </ng-container>

  <ng-container matColumnDef="NumberHumidity">
    <th mat-header-cell *matHeaderCellDef># Humidity</th>
    <td mat-cell *matCellDef="let element">{{element.sensorConfig.humiditySensors}}</td>
  </ng-container>

  <ng-container matColumnDef="NumberCarbonDioxide">
    <th mat-header-cell *matHeaderCellDef># CO2</th>
    <td mat-cell *matCellDef="let element">{{element.sensorConfig.carbonDioxideSensors}}</td>
  </ng-container>

  <ng-container matColumnDef="NetworkType">
    <th mat-header-cell *matHeaderCellDef>Network Type</th>
    <td mat-cell *matCellDef="let element">{{element.networkType}}</td>
  </ng-container>

  <ng-container matColumnDef="WirelessSsid">
    <th mat-header-cell *matHeaderCellDef>SSID</th>
    <td mat-cell *matCellDef="let element">{{element.wirelessConfig?.ssid}}</td>
  </ng-container>

  <ng-container matColumnDef="WirelessKey">
    <th mat-header-cell *matHeaderCellDef>Key</th>
    <td mat-cell *matCellDef="let element">{{element.wirelessConfig?.key}}</td>
  </ng-container>

  <ng-container matColumnDef="IpConfig">
    <th mat-header-cell *matHeaderCellDef>IP Config</th>
    <td mat-cell *matCellDef="let element">{{element.ipConfigType}}</td>
  </ng-container>

  <ng-container matColumnDef="IpAddress">
    <th mat-header-cell *matHeaderCellDef>IP</th>
    <td mat-cell *matCellDef="let element">{{element.staticIpConfig?.address}}</td>
  </ng-container>

  <ng-container matColumnDef="IpBroadcast">
    <th mat-header-cell *matHeaderCellDef>Broadcast</th>
    <td mat-cell *matCellDef="let element">{{element.staticIpConfig?.broadcast}}</td>
  </ng-container>

  <ng-container matColumnDef="IpGateway">
    <th mat-header-cell *matHeaderCellDef>Gateway</th>
    <td mat-cell *matCellDef="let element">{{element.staticIpConfig?.gateway}}</td>
  </ng-container>

  <ng-container matColumnDef="IpDns">
    <th mat-header-cell *matHeaderCellDef>DNS</th>
    <td mat-cell *matCellDef="let element">{{element.staticIpConfig?.dns}}</td>
  </ng-container>

  <ng-container matColumnDef="ServerAddress">
    <th mat-header-cell *matHeaderCellDef>Server</th>
    <td mat-cell *matCellDef="let element">{{element.serverAddress}}</td>
  </ng-container>

  <ng-container matColumnDef="Buttons">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-button class="menu-button" (click)="deleteConfig(element.serialNumber)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
