<div class="page-container">
  <header>
    <button mat-button class="menu-button" (click)="sidenav.toggle()">
      <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
    </button>
    Solarponics
  </header>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="over" autoFocus="false" class="sidenav" 
                 [(opened)]="isMenuOpen" 
                 (click)="onSidenavClick()">
      <a mat-button routerLink="/sensor-modules">Sensor Modules</a>
      <a mat-button routerLink="/provisioning/sensor-modules">Provisioning</a>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
