<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{sensorType}}
    </mat-panel-title>
  </mat-expansion-panel-header>


  <div style="margin-bottom: 20px">


    <div *ngIf="readings != null && readings.length > 0" style="height: 500px" class="dark">
      <div style="margin-left: 15px; padding-top: 10px;">
        <mat-form-field>
          <mat-label>Period</mat-label>
          <mat-select [value]="period" (selectionChange)="period = (periodSelect.value)" #periodSelect>
            <mat-option value="OneMinute">1M</mat-option>
            <mat-option value="FiveMinutes">5M</mat-option>
            <mat-option value="FifteenMinutes">15M</mat-option>
            <mat-option value="ThirtyMinutes">30M</mat-option>
            <mat-option value="OneHour">1H</mat-option>
            <mat-option value="FourHours">4H</mat-option>
            <mat-option value="TwelveHours">12H</mat-option>
            <mat-option value="OneDay">1D</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <ngx-charts-line-chart [results]="chartData" xAxis="true" yAxis="true" scheme="natural" showXAxisLabel="true" showYAxisLabel="true" autoScale="true"
                             xAxisLabel="Time" [yAxisLabel]="sensorType"></ngx-charts-line-chart>
    </div>

    <div *ngIf="readings == null || readings.length == 0">
      <mat-form-field>
        <mat-label>Period</mat-label>
        <mat-select [value]="period" (selectionChange)="period = (periodSelect.value)" #periodSelect>
          <mat-option value="OneMinute">1M</mat-option>
          <mat-option value="FiveMinutes">5M</mat-option>
          <mat-option value="FifteenMinutes">15M</mat-option>
          <mat-option value="ThirtyMinutes">30M</mat-option>
          <mat-option value="OneHour">1H</mat-option>
          <mat-option value="FourHours">4H</mat-option>
          <mat-option value="TwelveHours">12H</mat-option>
          <mat-option value="OneDay">1D</mat-option>
        </mat-select>
      </mat-form-field><br />
      No {{sensorType}} data available.
    </div>

  </div>
</mat-expansion-panel>
